body {
  background-color: #22272e;
}

h2 {
  letter-spacing: 1.2;
  text-decoration: underline;
}

a,
a:visited {
  color: #adbac7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#container {
  line-height: 2;
  padding: 20px;
  padding-top: 10px;
  color: #adbac7;
  margin: auto;
  width: 60%;
  border: 1px solid;
  border-radius: 6px;
  border-color: #444c56;

  /*  background-color: blue;*/
}

.badge {
  /*  background-color: red; */
  color: white;
  padding: 10px;
  height: 1rem;
}

.badges {
  position: relative;
  max-width: 80px;
  display: grid;
  grid-gap: 2px;
  /*  background-color: green;*/
}

@media (min-width: 600px) {
  .badges {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #container {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px;
    width: 100%;
    border-width: 0px;
  }
  .badges {
    grid-gap: 1rem;
  }
}
@media (min-width: 900px) {
  .badges {
    grid-template-columns: repeat(3, 1fr);
  }
}
