<footer>
  <marquee id = "buttons">
    <a href = "index.html"><img src = "/assets/buttons/button.png"></a>
    <a href = "index.html"><img src = "/assets/buttons/button2.png"></a>
    <a href = 'https://neocities.org/'><img src = "/assets/buttons/neocitiesorg.gif"></a>
    <a href = 'https://www.vim.org/'><img src = "/assets/buttons/vim.gif"></a>
    <a href = 'https://fedoraproject.org/'><img src = "/assets/buttons/gnu-linux.gif"></a>
    <a href = "https://fedoraproject.org/"><img src = "{{ site.baseurl }}/assets/buttons/powered_by_fedora_alt.png"></a>
  </marquee>
  <small><a href = "/credits" class = "credits">Credits</a></small>
</footer>

