<header>
    <center>
      <h1 id = "title"><a href = "{{ site.baseurl }}/index.html">RANDOM BITS</a><img id = "pikachu-header" src = "{{site.baseurl}}/assets/site/flying-pikachu.png"/></h1>
    A random site by a random clueless human
    </center>
    <!--<marquee scrollamount="4">-->
    <center>
      <!--<img src = "{{site.baseurl}}/assets/gifs/pikachu-run.gif"/>--><p>Random bits of programming, math, and thoughts
      By a clueless human</p><!-- <img src = "{{site.baseurl}}/assets/gifs/pikachu-run.gif"/>-->
    </center>
      <!--&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      <img src = "{{site.baseurl}}/assets/gifs/pikachu-run.gif"/>Random bits of programming, math, and thoughts
      By a clueless human <img src = "{{site.baseurl}}/assets/gifs/pikachu-run.gif"/>-->
      <!--</marquee>-->

    <a href="javascript:void(0);" class="hamburger-nav" onclick="toggleMenu()"><i class="fa fa-bars"></i></a>
    <nav id="header-nav">
    <center>
      <a href="{{ site.baseurl }}/index.html">Home</a>
      <a href="{{ site.baseurl }}/micro/"><span style = "letter-spacing: 1px;">µ</span>Blog</a>
      <a href="{{ site.baseurl }}/blog/"><span style = "letter-spacing: 1px;">Blog</a>
      <a href="{{ site.baseurl }}/link.html">LinkBlog</a>
      <!--<a href="{{ site.baseurl }}/math.html">Math</a>-->
      <a href="{{ site.baseurl }}/about.html">About</a>
    </center>
    </nav>
</header>
