---
layout: page
---
{% assign filtered_posts = site.posts | where: "category", page.archive_type %}

{% if page.archive_year %}
  {% assign posts_to_show = "" | split: "" %}
  {% for post in filtered_posts %}
    {% assign y = post.date | date: "%Y" %}
    {% if y == page.archive_year %}
      {% assign posts_to_show = posts_to_show | push: post %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign posts_to_show = filtered_posts %}
{% endif %}
<h1>{{ page.title }}{% if page.archive_year %} ({{ page.archive_year }}){% endif %}</h1>

{% for post in posts_to_show %}
<hr class = "bits-hr">
<div class = "bits">
<h1 class = "title">{{ post.title }}</h1>
<div>
<p class = "date">{{ post.date | date: "%B %e, %Y" }}</p>
<div class="tags">
{% for category in post.categories %}
<a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</div>
{{ post.content | strip_html | truncatewords: 100 }}
<p><a href="{{ post.url | relative_url }}">Read More...</a></p>
</div>
</div>
{% endfor %}

